@model List<ApplicationCore.Models.JobResponseModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Jobs</h1>
    <p></p>
</div>
</body>
</html>